
.example-form {
    margin-top: 50px;
    margin-left: 50px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    margin: 5px;
    width: 100%;
  }

  button {
    margin-top: 20px;
  }
  